body {
   overflow-y: scroll;
   margin: 0;
   font-size: 1rem;
}

* {
   font-family: Arial, serif;
   box-sizing: border-box;
   outline: none;
}

a {
   text-decoration: none;
   color: inherit;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
   font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}
