@import "styles";

.button {
  border-radius: 4px;
  padding: 10px 8px;
  font-size: fontSize(xs);
  cursor: pointer;
  transition: background-color .1s;
  font-weight: 700;
}

.buttonPrimary {
  background-color: themeColor(blueLight);
  color: white;

  border: 1px solid themeColor(blueLight);

  &:hover {
    background-color: themeColor(blue);
  }
}

.buttonSecondary {
  background-color: themeColor(gray-100);
  border: 1px solid themeColor(border);
  color: themeColor(gray-1000);

  &:hover {
    background-color: themeColor(gray-200);
  }
}